</section>
<footer>
    <ul>
        <li><a href=""><img src="{{ asset('img/facebook.png') }}" alt="fb" class="resp"></a></li>
        <li><a href=""><img src="{{ asset('img/twitter.png') }}" alt="twitter" class="resp"></a></li>
        <li><a href=""><img src="{{ asset('img/insta.png') }}" alt="inst" class="resp"></a></li>
    </ul>
</footer>

</body>
</html>