{% extends 'base.html.twig' %}

{% block title %} Profil {% endblock title %}
{% block content %}
<div class="article_contact">
    {% include 'common/_sideBar.html.twig' %}
    <p>Profil</p>
</div>
{% endblock content %}